src/main/java/com/redxun/xcmgFinance/core/wsdl/xcmgReviewWebserviceService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="IXcmgReviewWebserviceServiceService"
                  targetNamespace="http://webservice.review.xcmg.kmss.landray.com/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://webservice.review.xcmg.kmss.landray.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.review.xcmg.kmss.landray.com/" xmlns:tns="http://webservice.review.xcmg.kmss.landray.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="xcmgReviewUpdateParamterForm">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attachmentForms" nillable="true" type="tns:attachmentForm"/>
                    <xs:element minOccurs="0" name="fdId" type="xs:string"/>
                    <xs:element minOccurs="0" name="formValues" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="attachmentForm">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fdKey" type="xs:string"/>
                    <xs:element minOccurs="0" name="fdFileName" type="xs:string"/>
                    <xs:element minOccurs="0" name="fdAttachment" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception" type="tns:Exception"/>
            <xs:element name="wakeupReview" type="tns:wakeupReview"/>
            <xs:complexType name="wakeupReview">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="wakeupReviewResponse" type="tns:wakeupReviewResponse"/>
            <xs:complexType name="wakeupReviewResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateFormData" type="tns:updateFormData"/>
            <xs:complexType name="updateFormData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:xcmgReviewUpdateParamterForm"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateFormDataResponse" type="tns:updateFormDataResponse"/>
            <xs:complexType name="updateFormDataResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="wakeupReviewResponse">
        <wsdl:part element="tns:wakeupReviewResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="wakeupReview">
        <wsdl:part element="tns:wakeupReview" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateFormDataResponse">
        <wsdl:part element="tns:updateFormDataResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateFormData">
        <wsdl:part element="tns:updateFormData" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IXcmgReviewWebserviceService">
        <wsdl:operation name="wakeupReview">
            <wsdl:input message="tns:wakeupReview" name="wakeupReview">
            </wsdl:input>
            <wsdl:output message="tns:wakeupReviewResponse" name="wakeupReviewResponse">
            </wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateFormData">
            <wsdl:input message="tns:updateFormData" name="updateFormData">
            </wsdl:input>
            <wsdl:output message="tns:updateFormDataResponse" name="updateFormDataResponse">
            </wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IXcmgReviewWebserviceServiceServiceSoapBinding" type="tns:IXcmgReviewWebserviceService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="wakeupReview">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="wakeupReview">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="wakeupReviewResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateFormData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateFormData">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateFormDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IXcmgReviewWebserviceServiceService">
        <wsdl:port binding="tns:IXcmgReviewWebserviceServiceServiceSoapBinding" name="IXcmgReviewWebserviceServicePort">
            <soap:address location="https://10.1.1.157/sys/webservice/xcmgReviewWebserviceService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>